body {
  background-color: #171d23;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: #191919;
  width: 400px;
  height: 300px;
  position: relative;
}

.body {
  margin: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.container * {
  background: #191919;
  position: absolute;
}
.container .body div {
  overflow: hidden;
  background: #f2ad43;
  padding: 100px 75px;
  border-radius: 75px 75px 20px 20px;
  margin: 42px 117px;
}
.container .body img {
  background: #fff58f;
  padding: 30px 30px;
  border-radius: 50%;
  margin: -10px -30px;
}
.container .body img + img {
  background: #e08027;
  margin: 0px -175px;
  padding: 100px;
}
.container .body img + img + img {
  background: #824b20;
  margin: 0px -25px;
}
